<%= page_title(t('.title')) %>
<%= collection_nav(@collection, :website) %>

<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h1><%= params[:form] ? params[:form].to_s.titleize : "Homepage" %> <small>Site Setup</small></h1>
    </div>
    <%= simple_form_for @collection, method: :put, :url => site_setup_update_form_collection_path(@collection, form: (params[:form] ? "#{params[:form]}" : 'homepage')) do |f| %>
      <!-- <%= display_errors(f.object) %> -->
      <%= render partial: (params[:form] ? "#{params[:form]}_form" : 'homepage_form'), locals: { f: f } %>
      <% if params[:form] != "site_path" %>
        <%= f.button :submit, "Save", class: 'btn btn-primary'%>
      <% end %>
    <% end %>
  </div>

  <div class="col-md-2">
    <%= render "side_nav", collection: @collection, form: params[:form] %>
  </div>
</div>
