<% page_title(@page.name, @page.collection) %>
<%= collection_nav(@page.collection, :pages) %>
<%= render partial: 'edit_action_bar' %>

<div class="row">
  <div class="col-md-10">
    <div class="page-header">
      <h1><%= @page.name %> <small><%= t('.title') %></small></h1>
    </div>
    <%= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
      <%= render partial: 'form', locals: { f: f } %>
      <%= f.button :submit, "Save", class: 'btn btn-primary'%>
    <% end %>
    <%= DeletePanel.new(@page).display(PageQuery.new(@page)) %>
  </div>
</div>
