<% page_title(@page.name, @page.collection) %>
<%= collection_nav(@page.collection, :pages) %>
<%= back_action_bar(collection_pages_path(@page.collection)) %>

<div class="row">
  <h1><%= @page.name %></h1>
  <%= react_component 'PageForm', {
    id: @page.collection.unique_id,
    data: @page,
    pageName: @page.name,
    previewUrl: CreateBeehiveURL.call(@page),
    thumbnailImage: HoneypotThumbnail.display(@page.image)
     } %>
    <!-- <%= react_component '../../Thumbnail', {
      thumbnailImage: @page.image
       } %>
     <%= react_component '../SubmitButton', {
       name: "save",
       value: "Save"
        } %> -->
  <div class="row col-md-12">
    <div class="">
      <%= simple_form_for @page, :html => { :class => 'form-horizontal' } do |f| %>
        <%= render partial: 'form', locals: { f: f } %>
        <%= f.button :submit, "Save", class: 'btn btn-primary' %>
      <% end %>
    </div>
    <%= DeletePanel.new(@page).display(PageQuery.new(@page)) %>
  </div>
</div>
