<table class="table table-striped item-list">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th></th>
      <th><%= t('.updated_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% showcases.each do |showcase| %>
      <tr>
        <td class="image" >
          <%= link_to Thumbnail.display(showcase.image, "showcase"), showcase_path(showcase.unique_id) %>
        </td>
        <td>
          <h4 class="media-heading"><%= h link_to showcase.name_line_1, showcase_path(showcase.unique_id) %></h4>
          <%= h showcase.description %>
        </td>
        <td>
           <%= ListTime.display(showcase.updated_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
