<%= page_title(@item.name, @item.collection) %>
<%= collection_nav(@item.collection, :items) %>
<%= back_action_bar(@item.back_path) %>

<div class="row">
  <h1><%= @item.name %></h1>
  <%= @item.item_meta_data_form %>
</div>
